@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');

:root{
  /* Refers to the dimensions of the home page image component within the web page. Everything else is scaled relative to it*/
  /* Components need to be scaled in integers because of the use of pixel-art images */
  /* Variables are updated in JavaScript whenever a user resizes the page */
  --baseWidth: 320px;
  --baseHeight: 180px;
  --scale: 1;
  /* topPadding is constant, sectionGap scaled */
  --topPadding: 100px;
  --sectionGap: 130px;

  /* Layers */
  --mainLayer: 5;

  /* Layout */
  --cardGap: 7px;

  /* Colors */
  --lightestBlue : #76b4cc;
  --lightBlue: #6893b3;
  --blue: #5f7799;
  --darkBlue: #4d5880;
  --darkerBlue: #444966;
  --darkestBlue: #1C1E2B;
  --orange: #c97c55;
  --lightRed: #ab5a48;
  --red: #913d3d;
  --darkRed: #783642;
  --bluishBlack: #05050a;
  --black: #0C0C14;
  --white: #d8e6e8;
  --grey: #a2adb8;
  --darkGrey: #878c99;
  --darkestGrey: #707180;
  --yellow: #cca681;
  --green: #50a371;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  

}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jaro', sans-serif;
  font-size: 1.6vw;
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0px 0px;
  font: inherit;
  font-size: inherit;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

label {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 100%;
  height: 90%;
}

input {
  border: none;
  box-sizing: border-box;
  background-color: var(--darkestBlue);
  width: 100%;
  height: max(26px, calc(13px * var(--scale)));
  font: inherit;
  font-size: inherit;
  color: var(--grey);
  box-shadow: 0px 3px 5px var(--black);
}

textarea {
  border: none;
  box-sizing: border-box;
  background-color: var(--darkestBlue);
  width: 100%;
  height: max(206px, calc(103px * var(--scale)));
  resize: none;
  font: inherit;
  font-size: inherit;
  color: var(--grey);
  box-shadow: 0px 3px 5px var(--black);
}

input::placeholder, textarea::placeholder {
  color: #707180;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid var(--white);
}

/* Anims */
.fadeInFastest{
  animation: fadeIn .3s ease forwards;
}

.fadeInFast{
  animation: fadeIn .5s ease forwards;
}

.fadeIn{
  animation: fadeIn .8s ease forwards;
}

.fadeInSlow{
  animation: fadeIn 1.25s ease forwards;
}

/* Colors */
.lightestBlue {
  --color: var(--lightestBlue);
  --shadow: var(--blue);
  --darkShadow: var(--darkBlue);
  --highlight: var(--lightBlue);
  color: var(--color);
}

.blue {
  --color: var(--blue);
  --darkShadow: var(--darkestBlue);
  --shadow: var(--darkerBlue);
  --highlight: var(--blue);
  color: var(--color);
}

.darkBlue {
  --color: var(--darkestBlue);
  --darkShadow: var(--black);
  --shadow: var(--bluishBlack);
  --highlight: var(--darkerBlue);
  color: var(--color);
}

.black {
  --color: var(--black);
  --highlight: var(--black);
  --shadow: var(--black);
  --darkShadow: var(--black);
  color: var(--color);
}

.white {
  --color: var(--white);
  --highlight: var(--white);
  --shadow: var(--white);
  --darkShadow: var(--white);
  color: var(--white);
}

.lightGrey{
  --color: var(--grey);
  --shadow: var(--darkGrey);
  --darkShadow: var(--darkestGrey);
  --highlight: var(--grey);
  color: var(--color);
}

.yellow {
  --color: var(--yellow);
  --highlight: var(--yellow);
  color: var(--color);
}

.green {
  --color: var(--green);
  --shadow: var(--green);
  --darkShadow: var(--green);
  --highlight: var(--green);
  color: var(---green);
}

.orange{
  --color: var(--orange);
  --highlight: var(--orange);
  color: var(--color)
}

.red {
  --color: var(--red);
  --highlight: var(--lightRed);
  --shadow: var(--darkRed);
  color: var(--color)
}

/* Glow */
.radialGlow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(from var(--highlight, var(--white)) r g b / 70%), rgb(from var(--highlight, var(--white)) r g b / 20%));
  filter: blur(10px);
  z-index: 0;
  border-radius: 90%;
  pointer-events: none;
}

.textGlow{
  text-shadow: 0 0 20px var(--highlight, var(--lightestBlue));
}

/* Transparency */
.transparent{
  opacity: 0;
}

.opaque {
  opacity: 1;
}

/* Fonts */
.title {
  font-size: calc(20px * var(--scale));
}

.subtitle{
  font-size: calc(17.5px * var(--scale));
}

.big {
  font-size: calc(10.5px * max(var(--scale), 2));
}

.medium {
  font-size: max(16px, calc(8px * var(--scale)));
}

.small {
  font-size: max(10px, calc(6px * var(--scale)));
}

.center{
  text-align: center;
}

.textPdBottom{
  padding-bottom: calc(4px * var(--scale));
}

.descTextPd {
  padding-top: calc(4px * var(--scale));
  padding-right: calc(.55 * var(--scale) * var(--baseWidth));
  padding-bottom: calc(4px * var(--scale));

}

@media (max-width: 680px) {
  .descTextPd {
    padding-right: calc(0.35 * var(--scale) * var(--baseWidth));
  }
}

/* Section */
.section {
  position: relative;
  width: calc(var(--scale) * var(--baseWidth));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: var(--mainLayer);
}

/* Card */
.card{
  position: relative;
  background: radial-gradient(circle, #323342, #232533);
  box-shadow: 0 10px 8px rgb(from #05050a r g b/70%);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cardPdTop {
  padding-top: calc(7px * var(--scale));;
}

.cardPdBottom {
  padding-bottom: calc(22px * var(--scale));;
}

.cardPdLeft{
   padding-left: calc(20px * var(--scale));
}

.cardPdRight{
  padding-right: calc(20px * var(--scale));
}


/*Icons*/
/* Static Icon does not resize with the rest of the window */
.staticIcon {
  position: relative;
  height: 32px;
  width: 32px;
  
}

.icon {
  position: relative;
  height: max(32px, calc(16px * var(--scale)));
  width: max(32px, calc(16px * var(--scale)));
  border-radius: 20px;
}

.smallIcon {
  position: relative;
  height: max(16px, calc(8px * var(--scale)));
  width: max(16px, calc(8px * var(--scale)));
}

.iconImage {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
  border-radius: 10%;
}

.iconWithText {
  display: flex;
  gap: calc(4px * var(--scale));
  justify-content: stretch;
  transform-origin: center;
}

.iconText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Button */
.styledButton {
  background: radial-gradient(circle, var(--color, var(--lightestBlue)), var(--shadow, var(--blue)));
  box-shadow: 0px 2px 10px var(--highlight, var(--lightestBlue));
}

@media (min-width: 1025px) {
  .styledButton:hover {
    background: radial-gradient(circle, var(--shadow, var(--blue)), var(--darkShadow, var(--darkBlue)));
    box-shadow: 0px 3px 10px var(--darkShadow, var(--darkBlue));
  }
}


.medButton {
  width: calc(66px * var(--scale));
  height: calc(11px * var(--scale));
  line-height: calc(11px * var(--scale));
}

.bigButton {
  width: calc(80px * var(--scale));
  height: calc(14px * var(--scale));
  line-height: calc(14px * var(--scale));
}

.smallButton {
  width: calc(40px * max(2, var(--scale)));
  height: calc(9px * max(2, var(--scale)));
  line-height: calc(max(8px * var(--scale), 16px));
}

.disabledButton {
  background-color: var(--darkestGrey);
  box-shadow: 0px 4px 10px var(--darkestBlue);
}

.disabledButton, .styledButton {
  border-radius: 5px;
  text-align: center;
  font-size: max(10px, calc(6px * var(--scale)));
}

/* Container Props */
.clipContent{
  overflow: hidden;
}

.relPos {
  position: relative;
}

.gap{
  gap: calc(var(--cardGap) * var(--scale));
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  width: 100%;
}

/* Hover Effects */
@media (min-width: 1025px) {
  .enlargeOnHover{
    transition: transform .2s ease;
    transform-origin: top left;
  }

  .enlargeOnHover:hover{
    transform: scale(1.1);
  }

  .upOnHover{
    transition: transform .2s ease;
  } 

  .upOnHover:hover{
    transform: translateY(-2px);
  }

  .blueOnHover:hover{
    color: var(--lightestBlue);
  }
}


/* Flex box */
.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column
}

.alignEnd {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}
/* Specific Styles */

/* Home Page */
.homePage{
  padding-top: var(--topPadding);
  padding-bottom: var(--topPadding);
  background: linear-gradient(to bottom, #1C1E2B, #0C0C14);
  display: flex;
  flex-direction: column;
  gap: calc(var(--scale) * var(--sectionGap));
  align-items: center;
  
}

/* Background */
.backgroundUpper {
  background: linear-gradient(to bottom, var(--darkestBlue), var(--black));
  top: 0;
  height: var(--transitionPoint);
}

.backgroundLower {
  background-color: #0C0C14;
}


.backgroundLower, .backgroundUpper, .backgroundParallax{
  --transitionPoint: calc((var(--baseHeight) + 65px) * var(--scale));
  position: absolute;
  z-index: 0;
  width: 100%;
  left: 0;
}

.backgroundLower, .backgroundParallax {
  /* -3px to get rid of that weird white line on mobile screens */
  top: calc(var(--transitionPoint) - 3px);
  height: calc(100% - (var(--transitionPoint) - 3px));
}

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 7px calc((100% - var(--baseWidth) * var(--scale))/2);
  align-content: center;
  justify-content: space-between;
  background-color: rgb(from var(--bluishBlack) r g b / 70%); 
  box-shadow: 0 4px 12px rgb(from var(--bluishBlack) r g b / 100%); 
  opacity: 1;
  z-index: 1000;
  font-size: 16px;
}

.navItems{
  display: flex;
  gap: 40px;
  align-items: center;
}

.navItemsMobile{
  gap: 10px;
  background-color: rgb(from var(--bluishBlack) r g b / 70%); 
  box-shadow: 0 0px 6px 0px rgb(from var(--bluishBlack) r g b / 100%); ;
  position: absolute;
  top: calc(100% + 10px);
  right: calc((100% - var(--baseWidth) * var(--scale))/2);
  display: flex;
  padding: 25px 25px;
  flex-direction: column;
  transform-origin: top;
  animation: slideDown .5s ease forwards;
}

.navItemLine {
  position: absolute;
  top: 100% + 10px;
  left: -5%;
  width: 110%;
  height: 2px;
  border-radius: 90%;
  background-color: var(--lightestBlue);
  animation: navItem .6s ease forwards;
  transform-origin: center;
}

.navLogo{
  gap: 15px;
  display: flex;
  align-items: center;
}

.scrollProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, var(--lightBlue), var(--blue));
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform .2s ease;
}

/* Home Section */
.homeTitle {
  font-size: calc(25px * var(--scale));
}

.homeImage{
  width: calc(var(--scale) * var(--baseWidth));
}

.homeLayeredImage{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.titleBox{
  position: absolute;
  top: calc(7px * var(--scale));
  left: calc(20px * var(--scale));
  display: flex;
  flex-direction: column;
}

.comet{
  position: absolute;
  top: calc((22px * var(--scale)) * - 3.5);
  height: calc(22px * var(--scale));
  width: calc(22px * var(--scale));
}

.star {
  position: absolute;
  width: calc(1px * var(--scale));
  height: calc(1px * var(--scale));
  background-color: var(--color);
  box-shadow: 0 0 10px calc(var(--brightness) * var(--scale))  rgb(from var(--highlight, var(--white)) r g b / 50%);
}

.angel{
  animation: float 5s ease infinite;
}

.pointer {
  position: absolute;
  top: calc(195px * var(--scale));
  width: calc(8px * max(var(--scale), 2));
  height: calc(8px * max(var(--scale), 2));
  animation: pointer 2s ease-in-out infinite;
}

@media (max-width: 680px) {
  .angel {
    left: 30px;
  }
}

/* About Section */
.educationCard{
  flex-grow: .5;
}

.skillCard{
  flex-grow: 1;
  min-height: 225px;
}

.novaIcon {
  position: relative;
  width: calc(64px * max(var(--scale), 2));
  z-index: 2;
  
}

.novaIconShadow {
  position: absolute;
  filter: brightness(0) blur(5px);
  left: 0;
  top: 2%;
  width: calc(64px * max(var(--scale), 2));
  z-index: 1;
}

.portrait {
  position:absolute;
  opacity: 0;
  right: calc(4px * var(--scale) * -1);
  top: calc(80px * var(--scale));
  width: calc(70px * var(--scale));
  height: calc(105px * var(--scale));
  box-shadow: 0px 8px 8px var(--black);
}

@media (max-width: 1024px){
  .portrait {
    opacity: 1;
    top: calc(14px * var(--scale) * -1);
   
  }
}

.portraitVisible {
  animation: portrait .8s ease forwards;
}

/* Projects Section */
.projectsHeader {
  box-sizing: border-box;
  width: 100%;
}

.pageMenu {
  width: 30%;
}

.rightArrow {
  transform: scaleX(-1);
}

.projectsHeader, .pageMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 680px) {
  .projectsHeader {
    
  }
}

.mobileProjectTitle {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 37px;
  width: calc(var(--baseWidth) - 204px - var(--cardGap));
  align-items: center;
}

.projectGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, calc((var(--baseWidth) * var(--scale))/3 - (var(--cardGap) * var(--scale) * 2)/3));
  grid-template-rows: repeat(2, calc(130px * var(--scale)));
  gap: calc(var(--cardGap) * var(--scale));
}

.projectImageIcon {
  width: 100%;
  aspect-ratio: 160/90;
}

@media (max-width: 680px) {
  .projectGrid {
     grid-template-columns: repeat(1, 204px);
     grid-template-rows: repeat(2, 260px);
     justify-content: end;
  }
}

.gridFadeIn {
  animation: fadeIn .3s ease-out forwards;
}

.projectCardInfoContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: calc(5px * max(var(--scale), 2));
  height: calc(73px * max(var(--scale), 2));
}

.tagContainer {
  padding: calc(2px * max(var(--scale), 2)) 0px;
  display: flex;
  gap: calc(2px * max(var(--scale), 2));
}

.projectTag {
  width: calc(29px * max(var(--scale), 2));
  height: calc(7px * max(var(--scale), 2));
  line-height: calc(6px * max(var(--scale), 2));
  background-color: var(--color);
  color: var(--white);
  font-size: max(10px, calc(5px * var(--scale)));
  text-align: center;
}

.projectButton {
  margin-top: auto;
}

.projectCardDropdown {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgb(from var(--lightestBlue) r g b / 95%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(5px * max(var(--scale), 2));
  transform-origin: top left;
  animation: slideDown .2s ease forwards;
}

.projectDescText {
  font-size: calc(5px * max(var(--scale), 2));
}

.xButton {
  position: absolute;
  transform-origin: center;
  right: 2%;
  top: 0;
}

/* Contact Section */
.contactCard{
  width: calc((var(--baseWidth)/2 - var(--cardGap)) * var(--scale));
}

@media (max-width: 680px) {
  .contactCard {
    width: var(--baseWidth);
  }

  .messageCard {
    height: 430px;
  }
}

.contactInfo{
  display: flex;
  flex-direction: column;
}

/* Keyframes */
@keyframes slideDown {
  from {
    transform: scaleY(0);
  } to {
    transform: scaleY(1)
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  } to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(7%);
  } 50% {
    transform: translateY(-11%);
  } 100% {
    transform: translateY(7%);
  }
}

@keyframes navItem {
  0% {
    transform: scaleX(0);
  } 100% {
    transform: scaleX(100%);
  }
}

@keyframes portrait {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes starPulse {
  0%, 100% {
    box-shadow: 0 0 10px calc(var(--brightness) * .3 * var(--scale))  rgb(from var(--highlight, var(--white)) r g b / 30%);
  }
  50% {
    box-shadow: 0 0 10px calc(var(--brightness) * var(--scale))  rgb(from var(--highlight, var(--white)) r g b / 50%);
  }
}

@keyframes comet {
  from {
    transform: translate(0, 0)
  } to {
    transform: translate(calc(var(--scale) * var(--baseWidth) * 3), calc(var(--scale) * var(--baseWidth) * 3));
  }
}

@keyframes pointer {
  0% {
    transform: translateY(0)
  } 50% {
    transform: translateY(15px)
  } 100% {
    transform: translateY(0px)
  }
}
