
@font-face {
  font-family: "Pixel";
  src: url(/public/fonts/PixelOperator.ttf);
}

body {
  font-family: "Pixel" !important;
}

.NavBar-Text{
  font-size: 16px !important;
  color: #5f7799 !important;
}

.HomeScreen-Container{
  min-height: 320px;
  display: flex;
  background: linear-gradient(to bottom, #444966, #323342);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomeScreen-Title{
  background: linear-gradient(to right, #d8e6e8, #76b4cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 50px;
}

.HomeScreen-Subtitle{
  text-align: center;
  font-size: 20px;
  color: #76b4cc;
}

.AboutScreen-Container{
  height:500px;
  display: flex;
  flex-direction: column;
  background-color: #323342;
  justify-content: center;
  align-items: center;
}

.AboutScreen-AboutBox{
  height: 70%;
  width: 70%;
  background-color: #444966;
  box-shadow: 0px 4px 8px #1d1e2b;
  border-radius: 16px;
  display: flex;
  padding-top: 3%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 
}

.AboutScreen-Image{
  width: auto;
  height: 60%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100px;
}

.AboutScreen-Header{
  font-size: 30px;
  color: #d8e6e8;
}

.AboutScreen-Paragraph{
  margin: 0px 15px;
  font-size: 16px;
  text-align: center;
  color: #5f7799;
}
