@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');

:root{
  /* Refers to the dimensions of the home page image component within the web page. Everything else is scaled relative to it*/
  /* Components need to be scaled in integers because of the use of pixel-art images */
  /* Variables are updated in JavaScript whenever a user resizes the page */
  --baseWidth: 320px;
  --baseHeight: 180px;
  --scale: 1;
  /* topPadding is constant while bottomPadding will be scaled with "scale" */
  --topPadding: 100px;
  --bottomPadding: 70px;

  /* Colors */
  --lightestBlue : #76b4cc;
  --lightBlue: #6893b3;
  --blue: #5f7799;
  --darkBlue: #4d5880;
  --darkerBlue: #444966;
  --darkestBlue: #1C1E2B;
  --black: #0C0C14;
  --white: #d8e6e8;
  --grey: #a2adb8;
  --yellow: #cca681;
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jaro', sans-serif;
  font-size: 1.6vw;
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0px 0px;
}

/* Anims */
.fadeInFast{
  animation: fadeIn .5s ease forwards;
}

.fadeIn{
  animation: fadeIn .8s ease forwards;
}

.fadeInSlow{
  animation: fadeIn 1.25s ease forwards;
}

/* Colors */
.lightestBlue {
  --color: var(--lightestBlue);
  --shadow: var(--blue);
  --darkShadow: var(--darkBlue);
  --highlight: var(--lightBlue);
  color: var(--color);
}

.blue {
  --color: var(--blue);
  --shadow: var(--darkerBlue);
  --highlight: var(--blue);
  color: var(--color);
}

.black {
  --color: var(--black);
  --highlight: var(--black);
  color: var(--color);
}

.lightGrey{
  --color: var(--grey);
  color: var(--color);
}

.yellow {
  --color: var(--yellow);
  --highlight: var(--yellow);
  color: var(--color);
}

/* Glow */
.radialGlow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(from var(--highlight, var(--white)) r g b / 70%), rgb(from var(--highlight, var(--white)) r g b / 20%));
  filter: blur(10px);
  z-index: 0;
  border-radius: 90%;
  pointer-events: none;
}

.textGlow{
  text-shadow: 0 0 20px var(--highlight, var(--lightestBlue));
}

/* Fonts */
.title {
  font-size: calc(20px * var(--scale));
}

.subtitle{
  font-size: calc(17.5px * var(--scale));
}

.big {
  font-size: 3vw;
}

.medium {
  font-size: max(16px, calc(8px * var(--scale)));
}

.small {
  font-size: max(10px, calc(6px * var(--scale)));
}

.center{
  text-align: center;
}

.textPdTop{
  padding-top: calc(7px * var(--scale));
}

.textPdLeft{
   padding-left: calc(20px * var(--scale));
}

.textPdBottom{
  padding-bottom: calc(4px * var(--scale));
}

.descTextPd {
  padding-top: calc(7px * var(--scale));
  padding-right: calc(.55 * var(--scale) * var(--baseWidth));
  padding-bottom: calc(8px * var(--scale));
}

@media (max-width: 680px) {
  .descTextPd {
    padding-right: calc(0.35 * var(--scale) * var(--baseWidth));
  }
}

.section {
  padding: 0px 0px calc(var(--scale) * var(--bottomPadding)) 0px;
  width: calc(var(--scale) * var(--baseWidth));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  position: relative;
  background: radial-gradient(circle, #323342, #232533);
  box-shadow: 0 10px 12px #0C0C14;
  display: flex;
}

.gap{
  gap: calc(4px * var(--scale));
}

.cardPdBottom {
  padding-bottom: calc(22px * var(--scale));;
}

/*Icons*/
/* Static Icon does not resize with the rest of the window */
.staticIcon {
  position: relative;
  height: 32px;
  width: 32px;
}

.icon {
  position: relative;
  height: max(32px, calc(16px * var(--scale)));
  width: max(32px, calc(16px * var(--scale)));
  border-radius: 20px;
}

.iconImage {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
  border-radius: 10%;
}

.iconWithText {
  display: flex;
  gap: calc(12px * var(--scale));
  justify-content: stretch;
  transform-origin: center;
}

.iconText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.styledButton {
  background: radial-gradient(circle, var(--color, var(--lightestBlue)), var(--shadow, var(--blue)));
  box-shadow: 0px 4px 10px var(--highlight, var(--lightestBlue));
  border-radius: 5px;
  text-align: center;
  font-size: max(10px, calc(6px * var(--scale)));
  transform-origin: top left;
  transition: transform .2s ease;
}

.styledButton:hover {
  background: radial-gradient(circle, var(--shadow, var(--blue)), var(--darkShadow, var(--darkBlue)));
  box-shadow: 0px 4px 10px var(--darkShadow, var(--darkBlue));
}

.medButton {
  width: calc(66px * var(--scale));
  height: calc(11px * var(--scale));
  line-height: calc(11px * var(--scale));
  
}

.smallButton {

}

.clipContent{
  overflow: hidden;
}

.enlargeOnHover{
  transition: transform .2s ease;
  transform-origin: top left;
}

.enlargeOnHover:hover{
  transform: scale(1.1);
}

.upOnHover{
  transition: transform .2s ease;
}

.upOnHover:hover{
  transform: translateY(-2px);
}

.blueOnHover:hover{
  color: #76b4cc;
}
/* Specific Styles */
/* Home Page */
.homePage{
  padding-top: var(--topPadding);
  background: linear-gradient(to bottom, #1C1E2B, #0C0C14);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 7px calc((100% - var(--baseWidth) * var(--scale))/2);
  align-content: center;
  justify-content: space-between;
  background-color: rgba(12, 12, 20, 0.7); 
  box-shadow: 0 4px 12px rgba(12, 12, 20, 1); 
  opacity: 1;
  z-index: 1000;
  font-size: 16px;
}

.navItems{
  display: flex;
  gap: 40px;
  align-items: center;
}

.navItemsMobile{
  gap: 10px;
  background-color: rgba(12, 12, 20, 0.7); 
  box-shadow: 0 0px 6px 0px rgba(12, 12, 20, 1);
  position: absolute;
  top: calc(100% + 10px);
  right: calc((100% - var(--baseWidth) * var(--scale))/2);
  display: flex;
  padding: 25px 25px;
  flex-direction: column;
  transform-origin: top;
  animation: slideDown .5s ease forwards;
}

.navLogo{
  gap: 15px;
  display: flex;
  align-items: center;
}

/* Home Section */
.homeTitle {
  font-size: calc(25px * var(--scale));
}

.homeImage{
  width: calc(var(--scale) * var(--baseWidth));
}

.homeLayeredImage{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.titleBox{
  position: absolute;
  top: calc(7px * var(--scale));
  left: calc(20px * var(--scale));
  display: flex;
  flex-direction: column;
}

.comet{
  position: absolute;
  top: calc((22px * var(--scale)) * - 3.5);
  height: calc(22px * var(--scale));
  width: calc(22px * var(--scale));
}

.star {
  position: absolute;
  width: calc(1px * var(--scale));
  height: calc(1px * var(--scale));
  background-color: var(--color);
  box-shadow: 0 0 10px calc(var(--brightness) * var(--scale))  rgb(from var(--highlight, var(--white)) r g b / 50%);
}

.angel{
  animation: float 5s ease infinite;
}

@media (max-width: 680px) {
  .angel {
    left: 30px;
  }
}

/* Contact Section */
.contactCard{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: max(310px, calc(158px * var(--scale)))
}

.messageCard{
  min-height: 571px;
}

.contactInfo{
  display: flex;
  flex-direction: column;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 80px;
  } to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes float {
  0% {
    transform: translateY(7%);
  } 50% {
    transform: translateY(-11%);
  } 100% {
    transform: translateY(7%);
  }
}

@keyframes starPulse {
  0%, 100% {
    box-shadow: 0 0 10px calc(var(--brightness) * .3 * var(--scale))  rgb(from var(--highlight, var(--white)) r g b / 30%);
  }
  50% {
    box-shadow: 0 0 10px calc(var(--brightness) * var(--scale))  rgb(from var(--highlight, var(--white)) r g b / 50%);
  }
}

@keyframes comet {
  from {
    transform: translate(0, 0)
  } to {
    transform: translate(calc(var(--scale) * var(--baseWidth) * 3), calc(var(--scale) * var(--baseWidth) * 3));
  }
}
